<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loans</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        <h1>Loan Management System</h1>
    </header>
    <nav>
        <a href="{{ url_for('index') }}" class="btn">Home</a>
        <a href="/customers" class="btn">Customers</a>
        <a href="/accounts" class="btn">Accounts</a>
        <a href="/loans" class="btn">Loans</a>
        <a href="/transactions" class="btn">Transactions</a>
        <a href="/transactionCards" class="btn">Transaction Cards</a>
    </nav>
    <div class="container">
        <a href="{{ url_for('loan.add_loan') }}" class="add-button">Add New Loan</a>
        <table>
            <thead>
                <tr>
                    <th>Loan ID</th>
                    <th>Customer ID</th>
                    <th>Customer Name</th>
                    <th>Loan Amount</th>
                    <th>Interest Rate</th>
                    <th>Loan Status</th>
                </tr>
            </thead>
            <tbody>
                {% for loan in loans %}
                <tr>
                    <td>{{ loan.loan_id }}</td> <!-- loan_id -->
                    <td>{{ loan.customer_id }}</td>
                    <td>{{ loan.first_name }} {{ loan.last_name }}</td> <!-- first_name + last_name -->
                    <td>${{ loan.loan_amount }}</td> <!-- loan_amount -->
                    <td>{{ loan.interest_rate }}%</td> <!-- interest_rate -->
                    <td>{{ loan.loan_status }}</td> <!-- loan_status -->
                    <!-- Delete button -->
                    <td class="btn btn-delete">
                        <a href="{{ url_for('loan.delete_confirmation', loan_id=loan.loan_id) }}" class="btn-delete">Delete</a>
                        <a href="{{ url_for('loan.update_loan', loan_id=loan.loan_id) }}" class="btn-delete">Update</a>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="6">No loans found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
